{% extends 'backboard/base.html' %} {% block content %}
{% load static %}
<!-- 內容 -->
<div class="g-3 mb-3">
  <div class="col-lg-12 ps-lg-2 mb-3">

    <!-- 消費者資訊 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <div class="table-responsive scrollbar">
          <table class="table  table-striped fs--1 mb-0">
            <p>消費者明細</p>
              <thead class="green-thead">
                <tr>
                  <th>ID</th>
                  <th>姓名</th>
                  <th>email</th>
                  <th>電話</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td>1</td>
                  <td>張曉明</td>
                  <td>abc@email.com
                  <td>0912333444</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 訂單記錄 -->
    <div class="card h-lg-100 mb-3">
      <div class="card-header">
        <div class="table-responsive scrollbar">
          <table class="table  table-striped fs--1 mb-0">
            <p>歷史訂單</p>
            <thead class="green-thead">
              <tr>
                <th>訂單號碼</th>
                <th>訂單日期</th>
                <th>訂單狀態</th>
                <th>訂單合計</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                <td>0000000000</td>
                <td>2022-09-12</td>
                <td>
                  <button type="button" class="brown-border-btn">未處理</button>
                </td>
                <td>$1233</td>
                <td class="text-end">
                  <a href="{% url 'order_detail' %}" type="button" class="green-btn">查看</a>
                </td>   
              </tr>
              <tr>
                <td>0000000000</td>
                <td>2022-09-12</td>
                <td>
                  <button type="button" class="brown-border-btn">未處理</button>
                </td>
                <td>$1233</td>
                <td class="text-end">
                  <a href="{% url 'order_detail' %}" type="button" class="green-btn">查看</a>
                </td>   
              </tr>
              <tr>
                <td>0000000000</td>
                <td>2022-09-12</td>
                <td>
                  <button type="button" class="grey-border-btn">已完成</button>
                </td>
                <td>$1233</td>
                <td class="text-end">
                  <a href="{% url 'order_detail' %}" type="button" class="green-btn">查看</a>
                </td>   
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
         
  </div>
</div>
{% endblock %}