{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- content -->
<main class="main" id="top">
    <div class="container" data-layout="container">
      
    <!-- stepper    -->
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2 block">
        <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter">1</div>
              <div class="step-name">購物車</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">2</div>
              <div class="step-name">付款方式</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">3</div>
              <div class="step-name">填寫資料</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter">4</div>
              <div class="step-name">訂單確認</div>
            </div>
        </div>
      </div>
    </div>

    <!-- order detail-->
    <div class="mt-5 mb-8 mx-auto" style="max-width: 1000px;">
        <!-- table -->
        <div class="table-responsive scrollbar">
            <div class="green-title text-center mb-5">購物車明細</div> 
            <table class="table table-striped overflow-hidden">
              <thead class="text-white" style="background-color: #124935;">
                <tr>
                  <th scope="col">商品名稱</th>
                  <th scope="col">數量</th>
                  <th scope="col">單價</th>
                  <th scope="col" class="text-end">總計</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>玫瑰曲奇</td>
                  <td>2</td>
                  <td>$150</td>
                  <td class="text-end">$300</td>
                </tr>
                <tr>
                  <td>玫瑰曲奇</td>
                  <td>2</td>
                  <td>$150</td>
                  <td class="text-end">$300</td>
                </tr>
                <tr>
                  <td>玫瑰曲奇</td>
                  <td>2</td>
                  <td>$150</td>
                  <td class="text-end">$300</td>
                </tr>
                <tr>
                  <td>玫瑰曲奇</td>
                  <td>2</td>
                  <td>$150</td>
                  <td class="text-end">$300</td>
                </tr>
                <tr>
                  <td>玫瑰曲奇</td>
                  <td>2</td>
                  <td>$150</td>
                  <td class="text-end">$300</td>
                </tr>  
              </tbody>
            </table>
        </div>

        <div class="grey-price-box">
          <div class="d-flex justify-content-end align-items-center">
              <div class="text-end">商品金額&emsp;</div>
              <div class="text-end cart-price">$660</div>
          </div>
        </div>
        
        <!-- buttons -->
        <div class="mt-4 d-flex justify-content-between">
            <a href="{% url 'products' %}"><div class="green-button">繼續購物</div></a>
            <a href="{% url 'cart_payment_method' %}"><div class="green-button">選擇付款方式</div></a>
        </div>
    </div>


    
          


      
    </div>
</main>
{% endblock %}