{% extends 'web/base.html' %} {% block content %}
{% load static %}
<!-- login box -->
<div class="my-8 mx-auto" style="max-width: 800px;">
    <div class="mx-4">
      <div class="green-title text-center mb-2">會員資料</div>
      <div class="rounded-box px-xs-5 px-sm-7 px-md-7 px-lg-9 pt-3 pb-4">
  
        <div class="mt-4 mb-3">
          <label class="form-label" for="exampleFormControlInput1">姓名</label>
          <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="" />
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="exampleFormControlInput1">Email</label>
          <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="" />
        </div>

        <div class="mt-4 mb-3">
          <label class="form-label" for="exampleFormControlInput1">電話號碼</label>
          <input class="form-control" id="exampleFormControlInput1" type="text" placeholder="" />
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="exampleFormControlInput1">修改密碼</label>
          <input class="form-control" id="exampleFormControlInput1" type="password" placeholder="" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="exampleFormControlInput1">確認新密碼</label>
          <input class="form-control" id="exampleFormControlInput1" type="password" placeholder="" />
        </div>

      </div>
      <div class="mb-3 mt-5 text-center">
        <button href="" class="btn brown-button px-6">確認修改</button>
      </div>

    </div>
</div>
{% endblock %}
  