{% extends 'web/base.html' %} {% block content %}
{% load static %}
  <div class="d-flex" style="height: 30vh; background-color: floralwhite;">
    <div class="mx-auto align-self-center">
        <div class="h4">商品列表</div>
    </div>
  </div>

  <div class="container">
    <div>
        <p class="h4 my-5">二小姐雪Q餅</p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <div class="col mb-5">          
            <div class="card">
                <a href="{% url 'product_detail' %}">
                <img src="{% static 'web/assets/img/product_1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">二小姐 蔓越莓雪Q餅</h5>
                  <p class="card-text">酥鬆好吃果肉看得見<br>小孩 長輩也合適！</p>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <p class="card-text"> <span class="cart-price">$165</span>  / 包</p>
                    </div>
                    <div class="pt-2">
                      <button class="btn"><span class="fas fa-cart-plus fs-2 "></span></button>
                    </div>
                  </div>              
                </div>
                </a>
            </div> 
        </div>
        <div class="col mb-5">          
            <div class="card">
                <a href="{% url 'product_detail' %}">
                <img src="{% static 'web/assets/img/product_1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">二小姐 蔓越莓雪Q餅</h5>
                  <p class="card-text">酥鬆好吃果肉看得見<br>小孩 長輩也合適！</p>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <p class="card-text"> <span class="cart-price">$165</span>  / 包</p>
                    </div>
                    <div class="pt-2">
                      <button class="btn"><span class="fas fa-cart-plus fs-2 "></span></button>
                    </div>
                  </div>              
                </div>
                </a>
            </div> 
        </div>
        <div class="col mb-5">          
            <div class="card">
                <a href="{% url 'product_detail' %}">
                <img src="{% static 'web/assets/img/product_1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">二小姐 蔓越莓雪Q餅</h5>
                  <p class="card-text">酥鬆好吃果肉看得見<br>小孩 長輩也合適！</p>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <p class="card-text"> <span class="cart-price">$165</span>  / 包</p>
                    </div>
                    <div class="pt-2">
                      <button class="btn"><span class="fas fa-cart-plus fs-2 "></span></button>
                    </div>
                  </div>              
                </div>
                </a>
            </div> 
        </div>
        <div class="col mb-5">          
            <div class="card">
                <a href="{% url 'product_detail' %}">
                <img src="{% static 'web/assets/img/product_1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">二小姐 蔓越莓雪Q餅</h5>
                  <p class="card-text">酥鬆好吃果肉看得見<br>小孩 長輩也合適！</p>
                  <div class="d-flex align-items-center justify-content-between">
                    <div>
                      <p class="card-text"> <span class="cart-price">$165</span>  / 包</p>
                    </div>
                    <div class="pt-2">
                      <button class="btn"><span class="fas fa-cart-plus fs-2 "></span></button>
                    </div>
                  </div>              
                </div>
                </a>
            </div> 
        </div>
    </div>
  </div>

  <div class="container">
    <div>
        <p class="h4 my-5">二小姐玫瑰曲奇</p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        
      <div class="col mb-5">          
        <div class="card">
            <a href="{% url 'product_detail' %}">
            <img src="{% static 'web/assets/img/product_1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">二小姐 蔓越莓雪Q餅</h5>
              <p class="card-text">酥鬆好吃果肉看得見<br>小孩 長輩也合適！</p>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="card-text"> <span class="cart-price">$165</span>  / 包</p>
                </div>
                <div class="pt-2">
                  <button class="btn"><span class="fas fa-cart-plus fs-2 "></span></button>
                </div>
              </div>              
            </div>
            </a>
        </div> 
      </div>

      <div class="col mb-5">          
        <div class="card">
            <a href="{% url 'product_detail' %}">
            <img src="{% static 'web/assets/img/product_1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">二小姐 蔓越莓雪Q餅</h5>
              <p class="card-text">酥鬆好吃果肉看得見<br>小孩 長輩也合適！</p>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="card-text"> <span class="cart-price">$165</span>  / 包</p>
                </div>
                <div class="pt-2">
                  <button class="btn"><span class="fas fa-cart-plus fs-2 "></span></button>
                </div>
              </div>              
            </div>
            </a>
        </div> 
      </div>

      <div class="col mb-5">          
        <div class="card">
            <a href="{% url 'product_detail' %}">
            <img src="{% static 'web/assets/img/product_1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">二小姐 蔓越莓雪Q餅</h5>
              <p class="card-text">酥鬆好吃果肉看得見<br>小孩 長輩也合適！</p>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="card-text"> <span class="cart-price">$165</span>  / 包</p>
                </div>
                <div class="pt-2">
                  <button class="btn"><span class="fas fa-cart-plus fs-2 "></span></button>
                </div>
              </div>              
            </div>
            </a>
        </div> 
      </div>

      <div class="col mb-5">          
        <div class="card">
            <a href="{% url 'product_detail' %}">
            <img src="{% static 'web/assets/img/product_1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">二小姐 蔓越莓雪Q餅</h5>
              <p class="card-text">酥鬆好吃果肉看得見<br>小孩 長輩也合適！</p>
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <p class="card-text"> <span class="cart-price">$165</span>  / 包</p>
                </div>
                <div class="pt-2">
                  <button class="btn"><span class="fas fa-cart-plus fs-2 "></span></button>
                </div>
              </div>              
            </div>
            </a>
        </div> 
      </div>
        
    </div>
  </div>

  <!-- shopping info -->
  <div class=" text-secondary" style="background-color: white;">
    <div class="container">
        <div class="row py-5">
            <div class="col-sm-12 col-md-4 text-center">
                <p class="h5 mt-3">
                    <span class="fas fa-rocket"></span>
                    五天內出貨
                </p>
                <div class="mx-3 mt-3">
                    <p class="text-secondary">今天下單，五天出貨<br>不含下單當天、<br>例假日超商取貨及離島、特殊活動</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <p class="h5 mt-3">
                    <span class="fas fa-store"></span>
                    超商$790免運
                </p>
                <div class="mx-3 mt-3">
                    <p class="text-secondary">全館滿 $790 超商免運費<br>
                        滿 $1500 宅配免運費<br>
                        限台灣地區</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <p class="h5 mt-3">
                    <span class="fas fa-shopping-bag"></span>
                    多種購買方式
                </p>
                <div class="mx-3 mt-3">
                    <p class="text-secondary">超商取貨付款、轉帳付款、<br>信用卡付款</p>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

  